<div class="maintext"> 
	<table border=0>
		<tr>
			<td colspan="3">
				<h2>[title]</h2>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<p>[description]</p>
			</td>
		</tr>		
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>			
		<tr>
			<td colspan="3">
				<h2>[table_title]</h2>
			</td>
		</tr>
		<tr>
			<td colspan="3"></td>
		</tr>
			<td colspan="3" style="margin-left: 8px">[table]</td>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
	</table>
	<p>
		<h2>vRA System</h2>
	</p>
	<p>Please click the following link to login to the reporting vRA [vraURL]</p>
</div>